.results_categories {
    display: flex;
    flex-direction: column;

    height: auto;
    width: 100%;
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: auto;
    width: 100%;
}

@media only screen and (min-width: 865px) {
    .categories {
        flex-direction: column;
    }
}