.media_desktop_header {
    display: flex;
    justify-content: center;

    height: auto;
    width: 100%;
}

.media_desktop_container {
    display: flex;
    justify-content: center;
    gap: 20px;

    color: #fff;
    padding: 0 40px;
    height: auto;
    width: 100%;
    max-width: 1400px;
}

.media_header_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    height: auto;
    width: 100%;
}