.media_overview {
    display: flex;
    flex-direction: column;
    gap: 8px;

    padding: 0 20px;
    height: auto;
    width: 100%;
}

.media_overview p {
    font-size: 0.95rem;
}

@media only screen and (min-width: 865px) {
    .media_overview {
        padding: 0;
    }
}