.media_poster {
    height: 100%;
    width: 100%;
}

.media_poster img {
    padding: 30px;
    padding-left: 0;
    object-fit: contain;
    height: 100%;
    width: auto;
}

.media_poster > svg {
    display: none;
}

@media only screen and (min-width: 865px) {
    .media_poster img {
        height: 450px;
        width: 300px;
    }

    .media_poster > svg {
        display: initial;
    }
}