.media_title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    padding: 0 10px;
    height: auto;
    width: 100%;
}

.media_title p {
    font-size: 1.1rem;
}

@media only screen and (min-width: 865px) {
    .media_title {
        justify-content: flex-start;
        padding: 0;
    }

    .media_title h2 {
        font-size: 2rem;
    }

    .media_title p {
        font-size: 1.5rem;
    }
}