.filmography_category {
    display: flex;
    flex-direction: column;
    gap: 5px;

    height: auto;
    width: 100%;
}

.category_title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: auto;
    width: 100%;
}

.category_left,
.category_right {
    display: flex;
    align-items: center;
    gap: 5px;

    height: auto;
    width: auto;
}

.category_right svg {
    display: flex;
    align-items: center;
    justify-content: center;
}