.filmography_card {
    display: flex;
    justify-content: space-between;

    font-size: 0.9rem;
    height: auto;
    width: 100%;
}

/* .filmography_card .title,
.filmography_card .character,
.filmography_card .year {
    font-size: 0.9rem;
} */