.movie_desktop {
    height: auto;
    width: 100%;
}

.movie_desktop_main {
    display: flex;
    justify-content: space-between;
    gap: 15px;

    padding: 0 40px;
    height: auto;
    width: 100%;
}

.desktop_main_left {
    display: flex;
    flex-direction: column;

    height: auto;
    width: 100%;
}

.desktop_main_right {
    display: flex;
    flex-direction: column;

    height: auto;
    width: 400px;
}