.movie_title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    font-size: 1.4rem;
    height: auto;
    width: 100%;
}

@media only screen and (min-width: 865px) {
    .movie_title {
        justify-content: flex-start;
    }
}