.movie_header_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    height: 100%;
    width: 100%;
}

.mobile_background {
    height: 250px;
    width: 100%;
}