.movie_header {
    display: flex;
    justify-content: center;

    height: auto;
    width: 100%;
}

.movie_header_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    height: auto;
    width: 100%;
}