.known_for_desktop,
.known_for_mobile {
    display: flex;
    flex-direction: column;
    gap: 15px;

    width: 100%;
    height: auto;
}

.known_for_desktop h2,
.known_for_mobile h2 {
    font-weight: normal;
}

.known_for_cards {
    display: flex;
    gap: 25px;

    overflow-x: scroll;    
    padding-right: 15px;
    padding-bottom: 5px;
    height: auto;
    width: 100%;
}