.results {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
}

.results a {
    color: #000;
    text-decoration: none;
}

@media only screen and (min-width: 865px) {
    .results {
        flex-direction: row;
        padding: 0 20px;
        max-width: 1400px;
    }
}