.results {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
}

@media only screen and (min-width: 865px) {
    .results {
        flex-direction: row;
        padding: 0 20px;
    }
}