.media_card {
    display: flex;
    align-items: center;

    padding: 20px;
    height: auto;
    width: 100%;
}

.card_image img {
    object-fit: contain;
    height: 141px;
    width: 94px;
}

.card_overview {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}