.person_card {
    display: flex;
    align-items: center;
    gap: 10px;

    height: auto;
    width: 100%;
}

.person_image {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    max-height: 70px;
    width: 100%;
    max-width: 70px;
}

.person_image img {
    height: 70px;
    width: 70px;
}

.person_image svg {
    height: 70px;
    width: 70px;
}

.person_info {
    display: flex;
    flex-direction: column;
    gap: 10px;

    height: auto;
    width: 100%;
}

.person_known_for {
    display: flex;
    align-items: center;
    gap: 5px;

    height: auto;
    width: 100%;
}

.person_known_for p:last-child {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}