.show_card {
    display: flex;
    align-items: center;

    padding: 0 20px;
    height: auto;
    width: 100%;
}

.show_card_poster {
    background: #dbdbdb;
    height: 141px;
    width: 94px;
}

.show_card_poster a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 141px;
    width: 94px;
}

.show_card_poster img {
    object-fit: contain;
    height: 141px;
    width: 94px;
}

.show_card_poster svg {
    color: #b5b5b5;
    height: 70px;
    width: 47px;
}

.show_card_info {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 15px;
}

.show_card_overview {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}