.biography_desktop {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.biography_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;    
}

.biography_desktop, .biography_mobile {
    text-align: justify;
    height: auto;
    width: 100%;
}