.known_for_card_mobile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3ch;

    padding: 10px 0;
    height: auto;
    width: auto;
}

.known_for_card_mobile img {
    object-fit: cover;
    height: auto;
    width: 100px;
}

.card_poster svg {
    background-color: antiquewhite;
    align-self: center;
    justify-self: center;
    padding: 0 25px;
    height: 100%;
    width: 100px;
}

.card_poster img {
    border-radius: 8px;
}

.known_for_card_mobile p {
    font-size: 0.8rem;
    padding: 0 2px;
    text-align: center;
}