.person_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    padding: 30px 20px;
    height: auto;
    width: 100%;
    max-width: 100vw;
}

@media only screen and (max-width: 865px) and (min-width: 600px) {
    .person_mobile {
        padding: 30px 40px;
    }
  }