.personal_information_desktop,
.personal_information_mobile {
    display: flex;
    flex-direction: column;
    
    height: auto;
    width: 100%;
}

.personal_information_desktop .personal_information_items {
    display: flex;
    flex-direction: column;
    gap: 10px;

    height: auto;
    width: 100%;
}

.personal_information_mobile .personal_information_items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    height: auto;
    width: 100%;
}