.desktop_navigation {
    display: flex;
    justify-content: space-between;

    padding: 10px;
    height: auto;
    width: 100%;
}

.desktop_navigation ul {
    display: flex;
    justify-content: center;
    gap: 8px;

    height: auto;
    width: auto;
}