.desktop_navigation {
    display: flex;
    justify-content: space-between;

    padding: 10px 40px;
    height: auto;
    width: 100%;
    max-width: 1400px;
}

.desktop_navigation ul {
    display: flex;
    justify-content: center;
    gap: 8px;

    height: auto;
    width: auto;
}