.mobile_navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: auto;
    width: 95%;
}

.mobile_header {
    display: flex;
    justify-content: space-between;

    padding: 10px 0;
    height: auto;
    width: 100%;
}

.mobile_header svg {
    cursor: pointer;
}